
@keyframes fadeIn {
    from {
      opacity: 0;
      // transform: scale(0.5);
      transform: translateY(200%);
    }
    to {
      opacity: 1;
      // transform: scale(1);
      transform: translateY(100%);
    }
  }

  .bubble_body {
    top: 5vh;
    right: 1vh;
    position: fixed;
    display: flex;
    flex-direction: column; 
    margin: 0;
    place-content: center;
    gap: 20px;
    font-family: system-ui, sans-serif;
    font-size: 20px;
  }
  .bubble {
    --t: 30px; /* the size of the tail */
    animation: fadeIn 3s ease forwards;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(8, 127, 254);
    color: white;
    margin-right: 8px;
    border-left: 0.5em solid rgb(8, 127, 254);
    border-bottom-left-radius: 1em 0.5em;
    border-radius: 1.5em;
    height: 6vh;
  }
  .bubble ::after {
      content: "";
      position: absolute;
      right: -1.7em;
      bottom: 0;
      width: 0.5em;
      height: 1em;
      border-left: 0.5em solid rgb(8, 127, 254);
      border-bottom-left-radius: 1em 0.5em;
  
  }
  .left {
    --_d: 0%;
    border-left: var(--t) solid #0000;
    margin-right: var(--t);
    place-self: start;
    border-bottom-right-radius: 90px;
  }
  .right {
    --_d: 100%;
    border-right: var(--t) solid #0000;
    margin-left: var(--t);
    place-self: end;
  }
  .content {
    padding-left: 3px;
    text-align: center;
  }
  
  
  